<configuration>
    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<encoder>-->
    <!--<pattern>[%d{ISO8601}] %-5p %m \(%c{0}\)%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout>
        <File>./omh-shims.log</File>
        <!--<File>/usr/share/tomcat7/logs/hipbone-jobs.log</File>-->
    </appender>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.hipbone" level="debug"/>
    <logger name="org.hibernate.engine.jdbc.com.JdbcCoordinatorImpl" level="error"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>