/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$text-color: #4A4A4A;
$grid-gutter-width: 40px;
$table-border-color: #DCDCDC;
$font-size-small: 14px;
$padding-xs-horizontal: 10px;

$navbar-default-link-color: #a9a9a9;
$navbar-default-link-active-color: $text-color;
$navbar-default-link-active-bg: transparent;
$navbar-default-bg: transparent;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 5px;
$nav-link-padding: 0 5px;
$navbar-height: auto;
$navbar-margin-bottom: 40px;
$navbar-default-brand-color: $text-color;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$lable-color: #757475;
$panel-color: #fafafa;
$list-line-divider-color: #979797;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  font-family: 'Open Sans';
  font-size: 14px;
  padding-top: 50px;
}

*:focus, *:active {
  outline: none !important;
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 6px;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
}
.navbar-nav {
  color: $navbar-default-link-color;
}

.list-heading {
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  padding-left: 10px;
  margin: 0;
}
.list-icon{
  font-size: 16px;
  vertical-align: top;
  margin-top:5px;
}
.panel-heading{
  padding: 20px;
}

button.btn-xs{
  padding-top: 0;
  padding-bottom: 2px;
  font-weight: 700;
  color: $text-color;
}
.form-control {
  @extend .btn-xs;
  height: 25px;
}
.form-validation-message{
  color: maroon;
  margin-top: 2px;
}
.ui-select-bootstrap {
  .btn-default-focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.shim-list {
  .glyphicon-triangle-right{
    @extend .list-icon;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 400ms; /* Safari */
    transition: transform 400ms;
    &.disabled{
      visibility: hidden;
    }
  }
  .panel-open .glyphicon-triangle-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  h2 {
    @extend .list-heading;
    text-transform: capitalize;
  }
  .input-sm {
    height: 25px;
  }
  input[type=number].input-sm {
    padding: 0 10px;
  }
  .panel-group .panel + .panel {
    margin: -1px;
  }
  a.accordion-toggle {
    display: block;
    &:hover{
      text-decoration: none;
    }
  }
  .shim-panel {
    position: relative;
    min-height: 70px;
    margin: 0;
    border: 1px solid $list-line-divider-color;
    border-radius: 0;
    border-left: none;
    border-right: none;
    &:first-child {
      border-top-width: 2px;
    }
    .collapsing {
      transition: height 400ms ease !important;
      -webkit-transition: height 400ms ease !important;
    }
    .panel-body{
      background-color: $panel-color;
      padding: 30px 22px;
    }
    .details {
      height: auto;
      .row {
        padding-left: 20px;
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0 0 0;
        padding-bottom: 7px;
        padding-left: 5px;
      }
      .table {
        border-bottom: 1px solid $table-border-color;
        &.configuration{
          border-bottom: none;
        }
      }
      .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        padding: 16px 5px;
        height: 60px;
        border-top-width: 1px;
        &.compact {
          padding: 4px 5px;
          height: 30px;
        }
        &.flat-list {
          line-height: 28px;
          div {
            white-space: nowrap;
          }
        }
      }
      .table > thead > tr > th {
        padding: 0;
      }
      tbody th, td.description {
        font-size: 14px;
        font-weight: normal;
        color: $lable-color;
        .more{
          text-decoration: underline;
          color: $link-color;
          cursor: help;
        }
      }
      td.description {
        font-size: 14px;
        font-weight: 100;
        color: $lable-color;
        text-align: right;
        &.save-config {
          button {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.user-search-bar {
  @extend .panel-heading;
  height: 70px;
  background-color: $panel-color;
  border-top: 2px solid $list-line-divider-color;
  h2 {
    @extend .list-heading;
  }
  .glyphicon-user{
    @extend .list-icon;
  }
  .ui-select-bootstrap {
    width: 300px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
  }
  button {
    vertical-align: top;
  }
}

.user-connect-disconnect {
  position: absolute;
  right: 15px;
  top: 20px;
  button{
    margin-left: 15px;
  }
  .glyphicon {
    margin-right: 10px;
  }
}

$parameter-input-width: 100%;
.list-group.request-parameters {
  border-bottom: 1px solid $list-line-divider-color;
  border-top: 1px solid $list-line-divider-color;
  .list-group-item {
    min-height: 70px;
    padding-top: 22px;
    border: none;
    border-radius: none;
    border-top: 1px solid $list-line-divider-color;
    
    .parameter {
      position: relative;
      span.parameter-label,
      span.parameter-dropdown,
      span.parameter-date,
      span.parameter-text,
      span.parameter-group,
      span.parameter-button
      {
        width: auto;
        text-align: left;
        display: block;
        margin-left: 60px;
        input {
          width: $parameter-input-width;
        }
      }
      span.parameter-group {
        margin-left: 0;
        span.parameter-button{
          margin-left: 0;
          width:auto;
          float: right;
        }
        span.parameter-text{
          width:auto;
          overflow: hidden;
        }
      }
      .datetimepicker-wrapper:first-child{
        width: 100%;
        input{
          width: 100%;
        }
      }
      .datetimepicker-wrapper:last-child{
        position: absolute;
        display: block !important;
        top: 0;
        right: 20px;
      }
      span.parameter-dropdown{
        .ui-select-bootstrap {
          width: $parameter-input-width;
          display: inline-block;
          vertical-align: middle;
        }
        .ui-select-choices-row.disabled {
          position: relative;
          &:after {
            content: "disconnected";
            display: block;
            position: absolute;
            right: 10px;
            top: 3px;
            font-style: italic;
            color: $table-border-color;
          }
        }
      }
      span.parameter-label{
        margin: 0;
        text-align: right;
        width: 60px;
        position:absolute;
        top: 0;
        left: 10px;
        font-weight: 700;
        color: #757475;
      }
      span.parameter-date{
        input {
          width: auto;
        }
      }
      span.parameter-text{
        width: auto;
        input{
          width: 100%;
        }
      }
    }

  }
}

.response-chart {
    width: 100%;
    height: 450px;
    margin-top: 20px;
}
.response-chart .table {
    margin-bottom: 0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
