<div ng-controller="MainCtrl">
    <div class="row header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a ng-href="#">Shims</a></li>
            <li><a ng-href="#">Settings</a></li>
        </ul>
        <h3 class="text-muted">OMH Console</h3>
    </div>

    <form ng-submit="doLookup()">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-lg">
                    <input placeholder="Enter a unique identifier" type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Find</button>
                  </span>
                </div>
            </div>
        </div>
    </form>

    <br/>

    <!--
     -- Lookup Search Results: Displays a panel for each user that was found with the given
     -- user label.
    -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-repeat="record in records">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-user"></span>&nbsp; {{record.username}}
                    </h3>
                </div>

                <ul class="list-group">

                    <li class="list-group-item" ng-repeat="shim in shims">
                        <div ng-show="record.auths.indexOf(shim.shimKey) == -1">
                            <span>{{shim.label}}</span>
                            <button type="button" class="btn btn-primary pull-right">Connect</button>
                            <div class="clearfix"></div>
                        </div>

                        <div ng-show="record.auths.indexOf(shim.shimKey) > -1">

                            <div style="width: 100%" ng-click="openEndpoints($event,record,shim.shimKey)">
                                <span>{{shim.label}}</span>

                                <span class="label label-lg label-success glyphicon glyphicon-ok">&nbsp;</span>
                            <span class="glyphicon glyphicon-remove pull-right"
                                  style="font-size: 16px; color: #BE0A0A;"></span>
                            </div>
                            <div class="clearfix"></div>

                            <!--
                            -- Shim Data Panel: Presents endpoints for shim, allows for date range
                            -- selectors and clicking on data for verification purposes.
                            -->
                            <ul id="shim-panel-{{record.username}}-{{shim.shimKey}}"
                                class="list-group" style="display: none;">

                                <li class="list-group-item" ng-repeat="endpoint in shim.endpoints">
                                    <div class="panel-heading">
                                        <form class="form-inline" role="form" novalidate>
                                            <div class="form-group col-md-1"><span>{{endpoint}}</span></div>

                                            <div class="form-group col-md-4">
                                                <div class="input-group">
                                                    <input id=
                                                    "fromDate-{{record.username}}-{{shim.shimKey}}-{{endpoint}}"
                                                           type="text" class="form-control"
                                                           datepicker-popup="{{format}}" ng-model="fromDate"
                                                           is-open="openedFrom"
                                                           min-date="minDate" max-date="'2015-06-22'"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" ng-required="true"
                                                           close-text="Close"/>
                                                  <span class="input-group-btn">
                                                    <button id="fromBtn" type="button"
                                                            class="btn btn-default"
                                                            ng-click="open($event)"><i
                                                            class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                  </span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <div class="input-group">
                                                    <input id=
                                                    "toDate-{{record.username}}-{{shim.shimKey}}-{{endpoint}}"
                                                           type="text" class="form-control"
                                                           datepicker-popup="{{format}}" ng-model="toDate"
                                                           is-open="openedTo"
                                                           min-date="minDate" max-date="'2015-06-22'"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" ng-required="true"
                                                           close-text="Close"/>
                                                  <span class="input-group-btn">
                                                    <button id="toBtn"
                                                            type="button"
                                                            class="btn btn-default"
                                                            ng-click="open($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                  </span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3" style="text-align: left;">
                                                <div class="input-group btn-group">
                                                    <button ng-click=
                                                    "getData(record, shim.shimKey, endpoint, false)"
                                                            type="button" style="font-size: 10px;"
                                                            class="btn btn-default">Raw
                                                    </button>
                                                    <button ng-click=
                                                    "getData(record, shim.shimKey, endpoint, true)"
                                                            type="button" style="font-size: 10px;"
                                                            class="btn btn-default">Normalized
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <!--
                                     -- A textbox which displays the JSON results from the shim server.
                                    -->
                                    <div class="panel-body">
                                        <div id="shim-spinner-{{record.username}}-{{shim.shimKey}}-{{endpoint}}"
                                             class="spinner">&nbsp;</div>
                                        <textarea class="jsonResponseBox"
                                        id="shim-results-{{record.username}}-{{shim.shimKey}}-{{endpoint}}"
                                                ></textarea>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> Powered by Open mHealth</p>
    </div>
</div>